*
{
	font-family: inherit;
}

html
{
	height: 100%;
}

body
{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#map
{
	height: 100%;
}

#banner
{
	position: absolute;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 1;
	bottom: 0;
	padding: 30px 30px 40px;
	box-sizing: border-box;
}

h1
{
	font-size: 14pt;
	margin: 0;
	}

h1 > small
{
	font-weight: normal;
}

.icon
{
	background-color: rgba(255, 255, 0, 1);
	padding: 20px;
	border-radius: 100px;
	border: 2px solid black;
	padding: 1px;
}

.cluster-icon
{
	padding: 20px;
}

.cluster-icon-0
{
	background-color: rgba(255, 255, 0, 1);
}
.cluster-icon-1
{
	background-color: rgba(255, 196, 0, 1);
}
.cluster-icon-2
{
	background-color: rgba(255, 127, 0, 1);
}
.cluster-icon-3
{
	background-color: rgba(255, 111, 0, 1);
}
.cluster-icon-4
{
	background-color: rgba(255, 95, 0, 1);
}
.cluster-icon-5
{
	background-color: rgba(255, 79, 0, 1);
}
.cluster-icon-6
{
	background-color: rgba(255, 63, 0, 1);
}
.cluster-icon-7
{
	background-color: rgba(255, 47, 0, 1);
}
.cluster-icon-8
{
	background-color: rgba(255, 31, 0, 1);
}
.cluster-icon-9
{
	background-color: rgba(255, 15, 0, 1);
}
.cluster-icon-10
{
	background-color: rgba(255, 0, 0, 1);
}